@mixin heading-type {
  font-family: 'Source Sans Pro', $font-family-sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*
 * Modular scale helpers
 */
/* @mixin font-size($n) { */
/*   font-size: $n; */
  /* font-size: ms-respond($n); */
  /* TODO make me work */
  /* @include ms-respond(font-size, 5); */
/* } */

/*
 * Antialias
 */

@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

