= form_for @changeset, @action, [class: "fortune-form"], fn f ->
  = textarea f, :fortune, class: "form-control input", required: true, rows: 3
  = error_tag f, :fortune

  = submit "Change my fortune", class: "btn -block -warm"
