= form_for @changeset, @action, [class: "fortune-form"], fn f ->
  = label f, :fortune, class: "label"
  = text_input f, :fortune, class: "field", required: true
  = error_tag f, :fortune

  = submit "Change your fortune"
