= render "fortune_cookie.html", fortune_cookie: @fortune_cookie

.row
  .content-block.col-lg-12
    p.text Want to crack more fortune cookies?
    = link to: fortune_path(@conn, :random), class: "btn -block -warm" do
      | Click me
